<div>
    <div>
        <center><img src="{{ headerImg }}" class="odk-formlogo" /></center>
        <hr>
    </div>

    <div>
        <center><p>ODK SURVEY</center>
        <hr>
    </div>

    <div>
        <p>Form Name: {{localize form_title}}</p>
        <p>Form Version: {{#if form_version}}{{form_version}}{{/if}}</p>
        <hr>
    </div>

    {{#showElement displayOptions.new_survey displayOptions.is_designer}}
    <div>
        <fieldset class="instanceNew">
            <div class="row">
                <div class="col-xs-8">
                    Create new instance
                </div>
                <div class="col-xs-4">
                    <button type="button" class="createInstance btn btn-default instanceControlButton" tabindex="0">
                        <span class="glyphicon glyphicon-plus-sign"></span>
                    </button>
                </div>
            </div>
        </fieldset>
    </div>
    {{/showElement}}

    {{#showElement displayOptions.in_progress false}}
    <div>
        <fieldset class="instanceNew">
            <div class="row">
                <div class="col-xs-8">
                    Sync selected
                </div>
                <div class="col-xs-4">
                    <button type="button" class="syncSelected btn btn-default instanceControlButton" tabindex="0">
                        <span class="glyphicon glyphicon-refresh"></span>
                    </button>
                </div>
            </div>
        </fieldset>
    </div>
    <hr>
    {{/showElement}}

    {{#unless displayOptions.new_survey}}
    <p>Previously created instances:</p>
    <div class="instanceList">
        <ul class="list-group">
            {{#each instances}}
                {{#if dateDivider}}
                    <li class="list-group-item">{{dateDivider}}</li>
                {{/if}}
                <li class="list-group-item">
                    <fieldset class="instanceListGrid">
                        <div class="row">
                            <div class="col-xs-8">
                                <p><strong>{{display_field}}</strong></p>
                                <p><strong>Last Save Date:</strong></p>
                                <p>{{savepoint_timestamp}}</p>
								<p><strong>{{savepoint_type_text}}</strong></p>
								{{#if is_checkpoint}}
									<span class="glyphicon glyphicon-warning-sign"></span></p>
								{{/if}}
                            </div>
                            <div class="col-xs-4">
                                <div class="instanceRowControl btn-group">
                                {{#if new_row}}
                                    <button type="button" id="{{instance_id}}" class="odk openInstance btn btn-default instanceControlButton" tabindex="0">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
									{{#if show_delete}}
										<button type="button" id="{{instance_id}}" display_value="{{display_field}}" class="odk deleteInstance btn btn-default instanceControlButton" tabindex="0">
											<span class="glyphicon glyphicon-remove-sign"></span>
										</button>
									{{/if}}
									<label class="checkbox-inline syncCheckbox">Sync <input type="checkbox" id="{{instance_id}}" tabindex="0" value="{{instance_id}}"></label>
                                {{/if}}
                                {{#if synced}}
                                    <button type="button" id="{{instance_id}}" class="odk openInstance btn btn-default instanceControlButton" tabindex="0">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                    </button>
                                {{/if}}
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </li>
            {{else}}
                <li>No instances.</li>
            {{/each}}
        </ul>
    </div>
    {{/unless}}
</div>
