<div>
    <div>
        <center><h2>Survey Summary</h2></center>
        <div>
            {{#each summaryQuestion}}
                {{#ifEqual this.type "location"}}
                    <b>location:</b><br />
                    latitude: {{this.value.latitude}}<br />
                    longitude: {{this.value.longitude}}<br />
                    altitude: {{this.value.altitude}}<br />
                    accuracy: {{this.value.accuracy}}<br />
                {{/ifEqual}}
                {{#ifNotEqual this.type "location"}}
                    <b>{{this.name}}</b>: {{this.value}}<br />
                {{/ifNotEqual}}
            {{else}}
                No content
            {{/each}}
        </div>
    </div>
    <hr/>
    {{#if indicators}}
        <div>
            <p>Dimension A</p>
            {{#each indicators}}
                {{#if this.color}}
                    <span class="glyphicon glyphicon-one-fine-dot"
                        style="color:
                        {{this.color}}">{{this.name}}: {{this.value}}
                    </span>
                {{/if}}
            {{/each}}
        </div>
    {{/if}}
</div>
